header, footer {
    background-color: #123c69;
    color: #fef9ff;
    height: 100%;
    text-align: center;
    padding: 20px 10px 10px 10px;
}

footer {
    border-top: 2px solid #111;
}

h1 {
    font-family: 'Raleway', sans-serif;
}

nav {
    background-color: #edc7b7;
    border-top: 2px solid #111;
    border-bottom: 2px solid #111;
    margin-top: 0px;
}


nav .btn {
    background-color: #123c69;
    color: #fef9ff;
    margin-right: 0.5%;
}

nav .btn:visited {
    background-color: #4178b3;
}

nav .btn:hover {
    font-weight: bold;   
}

nav .btn:active {
    text-decoration: none;
}

a.home {
    color: black;
    padding-right: 3px;
}

body {
    background-color: #eee2dc;
}

.jumbotron {
    padding: 2rem 1rem;
}

.carousel-inner {
    padding-bottom: 5%;
}

.carousel-indicators li {
background-color: #a7a8a7;
}

.carousel-indicators .active {
background-color: #123c69;
}